@font-face {
  font-family: 'TisaOT';
  src: url('fonts/TisaOT-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/TisaOT-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/TisaOT-Light.woff') format('woff'), /* Modern Browsers */
       url('fonts/TisaOT-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/TisaOT-Light.svg#d74ba1768bb69f53076d46adb07ed9ce') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'TisaOT';
  src: url('fonts/TisaOT-LightIta.eot'); /* IE9 Compat Modes */
  src: url('fonts/TisaOT-LightIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/TisaOT-LightIta.woff') format('woff'), /* Modern Browsers */
       url('fonts/TisaOT-LightIta.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/TisaOT-LightIta.svg#22ef0e7804f2824caf22bc41728f5a77') format('svg'); /* Legacy iOS */
  font-style: italic;

}

@font-face {
  font-family: 'TisaOT';
  src: url('fonts/TisaOT-Medi.eot'); /* IE9 Compat Modes */
  src: url('fonts/TisaOT-Medi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/TisaOT-Medi.woff') format('woff'), /* Modern Browsers */
       url('fonts/TisaOT-Medi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/TisaOT-Medi.svg#973fa6283db3a289f2aba20a415b282c') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

