.ContactForm {

  //@extend .animated-faster;
  // animation: fadeIn 450ms ;
  // animation-fill-mode: forwards;
  // animation-iteration-count: 1;
  // -webkit-animation: fadeIn 450ms ;
  // -webkit-animation-fill-mode: forwards;
  // -webkit-animation-iteration-count: 1;

  &.fadeout {
    //opacity: 0 !important;
    // animation: fadeOut 450ms ;
    // animation-fill-mode: forwards;
    // animation-iteration-count: 1;
    // -webkit-animation: fadeOut 450ms ;
    // -webkit-animation-fill-mode: forwards;
    // -webkit-animation-iteration-count: 1;
  }
}

.happy-message {
  opacity: 0;
  // @extend .animated-faster;
  // &.fade {
  //   opacity: 0;
  //   visibility: hidden;
  //   &.in {
  //     opacity: 1;
  //     visibility: inherit;
  //   }
  // }
}

.Form {
  opacity: 0;
  @extend .col-md-8,
          .col-md-push-2,
          .padding-t-140,
          .text-center;


  .form-control {
    @extend .color-white;
    background-color: transparent;
    border: 2px solid $color-white;
    @include placeholder(#fff);
  }

  .bt-send-it,
  .bt-resend-it {
    width: 180px;
    height: 40px;
    background-color: transparent;
    border: 2px solid $color-white;
    @extend .text-center,.animated,.margin-t-40,.no-outline;
    border-radius: 20px;
    &:hover {
      width: 190px;
    }
  }

  .bt-resend-it {
    width: 310px;
    &:hover {
      width: 320px;
    }
  }
}

.form-messages {
  @extend .position-abs,
          .text-center,
          .w100;

  left: 0;

  .message-box {
    @extend .col-md-8,
            .col-md-push-2,
            .margin-t-40;
  }
}

.logo-on-form {
  @extend .margin-b-20;
}

,
.copy-form {
  @extend .margin-b-40;
  line-height: 120%;
}