.Footer {
  @extend .bg-gray,
          .padding-t-50,
          .padding-b-50;
}

.Form-title-subtitle {
  small {
    font-size: 11px;
  }
}

.form-trigger {
  @extend .margin-t-40,
          .padding-l-40,
          .padding-r-40,
          .animated-faster;


  border-radius: 20px;
  width: 190px;
  height: 40px;

  &:hover {
    width: 200px;
    background: $brand-primary;
    border-color: $brand-primary;
  }

  &:focus,
  &:active,
  &:focus:active {
    outline-color: transparent;
    outline-width: 0;
    background: $brand-primary;
    border-color: $brand-primary;
  }

  &.toAlphaText {
    color:transparent;

  }

  &.toCircle {
    width: 40px;
    height: 40px;
    padding: 0;
  }

}


.form-bg-fx {
  @extend .position-abs,
          .bg-brand-primary,
          .round;

  width: 39px;
  height: 39px;
  top: 40px; //some value form-trigger margin-top
  left: 50%;
  margin-left: -20px;
  z-index: 1000;

}

.ContactForm-warper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
  opacity: 0;
  visibility: hidden;
}

.btn-close-form,
.close-btn {
  @extend .round, .position-abs,.as-inline-block;

  top: 100px;
  right: 100px;
  background-image: url('images/cd-icon-close.svg');
  background-color: rgba(0,0,0,.2);
  width: 46px;
  height: 46px;
  border: 1px solid rgba(0,0,0,.01);
  color: transparent;
  text-indent: -9999px;
  z-index: 1;
  &:hover {
    color: transparent;
    text-indent: -9999px;
  }
  &:active {
    background-image: url('images/cd-icon-close.svg');
  }
}

.extra-info {
  @extend .padding-t-30,.padding-b-30;
  background-color: darken($gray-dark,5%);
}
.footer-logo {
  @extend .w5;
  @include center-block();
  opacity: .8;
}

.info-links {
  @extend .margin-t-20, .text-center,.color-white;
  p {
    font-size: 16px;
    color: lighten($gray-dark,10%);
  }
}

.footer-icon-btn {
  @extend .round,.margin-l-5,.margin-r-5,.padding-5;
  background-color: darken($gray-dark,10%);
  color: lighten($gray-dark,5%);
}

.links-warpers {
  @extend .margin-t-20,.margin-b-10;
}